//common
$textBlue: #409eff;
$disabledTextBlue: #a0d0ff;
$textBlueHover: #66b1ff;

$mainTextColor: #303133;
$mainTextColor1: #606266;
$mainTextColor2: #909399;
$mainTextColor3: #c0c4cc;

$successColor: #68c239;
$successColor1: #e0f3d8;
$successColor2: #f1f9eb;

$warningColor: #ff8c00;
$warningColor1: #fbecd8;
$warningColor2: #fcf6ec;

$dangerColor: #f56c6c;
$dangerColor1: #ffe2e1;
$dangerColor2: #ffeff0;

$infoColor: #919398;
$infoColor1: #e9e9eb;
$infoColor2: #f4f4f5;

$borderColor: #dcdfe6;
$borderColor2: #e4e7ed;
$borderColor3: #ebeef5;
$borderColor4: #f2f6fc;

// sidebar
$menuText: #bfcbd9;
